.super-cont{
    border: 2px solid rgb(19, 19, 19);
    text-align: left;
    margin-bottom: 5px;
    width: 91%;
    margin: 0 auto;
    min-height: 20px;
    margin-bottom: 5px;
}

.super-without-cantMarca{
    color: rgb(2, 126, 18);
}

.super-without-alquilado{
    font-weight: bold;
}

